/* colors */
:root {
    --dark-grey-color: rgb(67,67,67);
    --light-grey-color: rgb(190,190,190);
    --dark-green-color: rgb(69,111,35);
    --light-green-color: rgb(175,224,126);
    --dark-blue-color: rgb(48,82,100);
    --light-blue-color: rgb(125,205,227);
    --dark-orange-color: rgb(191,94,40);
    --light-orange-color: rgb(241,206,83);
}

/* defaults */
* {
  margin: 0;
  padding: 0;
}

body{
  font-family: 'PT Sans', sans-serif;
  color: var(--dark-grey-color);
}

/* pie colors */
.green-pie .smartphone{
  fill: var(--dark-green-color);
}

.green-pie .tablet{
  fill: var(--light-green-color);
}

.blue-pie .smartphone{
  fill: var(--dark-blue-color);
}

.blue-pie .tablet{
  fill: var(--light-blue-color)
}

.orange-pie .smartphone{
  fill: var(--dark-orange-color);
}

.orange-pie .tablet{
  fill: var(--light-orange-color);
}

/* center container */
.body {
  width: 100%;
}

.container{
  width: min-content;
  margin: 0 auto;
}

/* container grid */
.container{
  display: grid;
  grid-template-columns: repeat(3, 265px);
  /* margin */
  margin-top: 3em;
  grid-gap: 50px;
}

/* box grid */
.box{
  display: grid;
  grid-tmplate-rows: 160px, auto;
  grid-template-areas: "pie" "device-values";

  width: 265px;
  height: 210px;
  border-bottom: 1px solid var(--light-grey-color);
}

.box .content{
  width: 265px;
  height: 210px;
  position: absolute;
}

.pie{
  grid-area: pie
}

.device-values{
  grid-area: device-values;
  display: grid;
  grid-template-columns: repeat(2, 50%);
}

.smartphone-value > p {
  float: right;
}

/* graphs */
.pie {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* device values */
.device-values {
  font-size: 0.85em;
}

.device-values .procentage {
  color: var(--dark-grey-color);
}

.device-values .value {
  color: var(--light-grey-color);
}

.device-type {
  font-weight: bold;
  text-transform:capitalize;
}

#revenue .tablet{
  color: var(--light-green-color);
}

#revenue .smartphone{
   color: var(--dark-green-color);
}

#impresions .tablet{
  color: var(--light-blue-color);
}

#impresions .smartphone{
   color: var(--dark-blue-color);
}

#visits .tablet{
  color: var(--light-orange-color);
}

#visits .smartphone{
   color: var(--dark-orange-color);
}

/* summary */
.summary{
  width: 50%;
  margin: 0 auto;
  position: absolute;
  top: 35%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.summary p {
  text-align: center;
}

.summary .name {
  color: var(--light-grey-color);
  text-transform:uppercase;
  font-weight: 400;
  font-size: 1.18em;
}

.summary .total {
  color: var(--dark-grey-color);
  font-weight: 600;
  font-size: 1.35em;
}
