/* colors */
:root {
    --dark-grey-color: rgb(67,67,67);
    --light-grey-color: rgb(190,190,190);
    --dark-green-color: rgb(69,111,35);
    --light-green-color: rgb(175,224,126);
}

/* defaults */
* {
  margin: 0;
  padding: 0;
}

body{
  font-family: 'PT Sans', sans-serif;
  color: var(--dark-grey-color);
}

/* pie colors */
.green-pie .smartphone{
  fill: var(--dark-green-color);
}

.green-pie .tablet{
  fill: var(--light-green-color);
}

.blue-pie .smartphone{
  fill: rgb(48,82,100);
}

.blue-pie .tablet{
  fill: rgb(125,205,227);
}

.orange-pie .smartphone{
  fill: rgb(191,94,40);
}

.orange-pie .tablet{
  fill: rgb(241,206,83);
}

/* center container */
.body {
  width: 100%;
}

.container{
  width: 50%;
  margin: 0 auto;
}

/* container grid */
.container{
  display: grid;
  grid-template-columns: repeat(3, 265px);
}

/* box grid */
.box{
  display: grid;
  grid-tmplate-rows: 160px, auto;
  grid-template-areas: "pie" "device-values"
}

.pie{
  grid-area: pie
}

.device-values{
  grid-area: device-values;
  display: grid;
  grid-template-columns: repeat(2, 50%);
}

.smartphone-value > p {
  float: right;
}

/* graphs */
.pie {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* device values */
.device-values .procentage {
  color: var(--dark-grey-color);
}

.device-values .value {
  color: var(--light-grey-color);
}

.device-type {
  font-weight: bold;
}

.tablet-value .device-type{
  color: var(--light-green-color);
}

.smartphone-value .device-type{
   color: var(--dark-green-color);
}
